/* Remove Default Spacing from All Tags */
* {
    margin: 0;
    padding: 0;
}

a {
    color: black;
    text-decoration: none;
}

/* Make Sure Web Page Fills Screen */
html, body {
    height: 100%; /* Ensures the body can stretch to the full viewport height */
    margin: 0;
}

body {
    min-height: 100vh; /* Ensures the body is at least the height of the viewport */
    background-color: teal;
}

header {
    height: 100px;
}

footer p {
    font-size: small;
    font-style: italic;
    text-align: center;
    height: 25px;
}

main {
    display: flex;
    flex-direction: column;
    min-height: calc(100% - 125px);
}

/* Cursive Pixely Font */
@font-face {
  font-family: 'brick-flash';
  src: url('brick-flash.otf');
  font-weight: normal;
  font-style: normal;
}

h1, h2, .link-directory a, .name, .title, #profile-directory li {
    font-family: 'brick-flash', sans-serif;
    font-weight: normal;
    text-align: center;
    text-shadow: 2px 2px white;
}

h1 {
    font-size: 80px;
}

h2 {
    font-size: 60px;
    padding-bottom: 25px;
}

#wrapper {
    flex: 1;
    padding: 30px;
}

.link-directory a, #profile-directory li {
    font-size: 45px;
}

.link-directory td, .link-directory li {
    padding: 25px;
}

.link-directory tr, .link-directory li {
    text-align: center;
}

.link-directory {
    display: table;
    margin: 0 auto;
    list-style: none;
}

#web-badges {
    padding: 30px;
}

#forum-signatures {
    padding: 20px;
}

#web-badges img {
    padding: 0 5px;
}

.qoute q, .qoute p {
    text-align: center;
    display: block;
    font-size: 25px;
}

.qoute {
    padding: 10px 0;
}

.name {
    font-size: 35px;
}

.title {
    font-size: 25px;
}

#profile-directory a::before {
    content: '\2605\0009'; /* indicate people with a page by appending a star */
}

#student-profile {
    float: right;
}

.profile-picture {
    border: 5px solid steelblue;
    margin: 0 auto;
    display: block;
    margin-bottom: 15px;
}