/* Remove Default Spacing from All Tags */
* {
    margin: 0;
    padding: 0;
}

a {
    color: black;
    text-decoration: none;
}

/* Make Sure Web Page Fills Screen */
html, body {
    height: 100%; /* Ensures the body can stretch to the full viewport height */
    margin: 0;
}

body {
    min-height: 100vh; /* Ensures the body is at least the height of the viewport */
    background-color: teal;
}

header {
    height: 100px;
}

footer p {
    font-size: small;
    font-style: italic;
    text-align: center;
    height: 25px;
}

main {
    display: flex;
    flex-direction: column;
    min-height: calc(100% - 125px);
}

/* Cursive Pixely Font */
@font-face {
  font-family: 'brick-flash';
  src: url('brick-flash.otf');
  font-weight: normal;
  font-style: normal;
}

h1, h2, h3, .link-directory a, .name, .title, #profile-directory li, .qoute p {
    font-family: 'brick-flash', sans-serif;
    font-weight: normal;
    text-align: center;
    text-shadow: 1px 1px white;
}

h1 {
    font-size: 80px;
}

h2 {
    font-size: 60px;
    padding-bottom: 25px;
}

h3 {
    font-size: 40px;
    padding-bottom: 25px;
}

#wrapper {
    flex: 1;
    padding: 30px;
}

#inner-wrapper {
    padding: 0 20%;
}

.link-directory a, #profile-directory li {
    font-size: 45px;
}

.link-directory td {
    padding: 25px;
}

.link-directory li {
    padding: 15px;
}

.link-directory tr, .link-directory li {
    text-align: center;
}

.link-directory {
    display: table;
    margin: 0 auto;
    list-style: none;
}

#web-badges {
    padding: 30px;
}

#forum-signatures {
    padding: 20px;
}

/* ensures signatures stack vertically */
#forum-signatures img {
    display: block;
}

#web-badges img {
    padding: 0 5px;
}

.qoute q, .qoute p {
    text-align: center;
    display: block;
    font-size: 25px;
}

.qoute {
    padding: 10px 0;
}

.qoute p::before {
    content: '\2014'; /* add emdash to name*/
}

.name, .qoute p {
    font-size: 35px;
}

.title {
    font-size: 25px;
}

#profile-directory a::before {
    content: '*\0009';
    font-size: 80px;
    line-height: 40px;
    vertical-align: middle;
    display: inline-block;
}

#student-profile {
    float: right;
}

.profile-picture, .highlight img {
    border: 5px solid steelblue;
    margin: 0 auto;
    display: block;
    margin-bottom: 15px;
}

form table {
    width: 400px;
    margin: 0 auto;
}

#preview-button {
    display: block;
    margin: 20px auto;
}

label, input {
    display: inline-block;
    text-align: center;
}

textarea {
    display: block;
    margin: 0 auto;
    width: 400px;
    height: 200px;
}