/* == General Styles == */

* {
    margin: 0;
    padding: 0;
}

a {
    color: black;
    text-decoration: none;
}

body {
    min-height: 100dvh; /* Ensures the body is at least the height of the viewport */
    background-color: teal;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1; /* Allow main content to fill in empty space */
}

footer p {
    font-size: small;
    font-style: italic;
    text-align: center;
    height: 25px;
}

/* Cursive Pixely Font */
@font-face {
  font-family: 'brick-flash';
  src: url('brick-flash.otf');
  font-weight: normal;
  font-style: normal;
}

h1, h2, h3, .link-directory a, .name, .title, #profile-directory li, .qoute p, #working-directory p {
    font-family: 'brick-flash', sans-serif;
    font-weight: normal;
    text-align: center;
    text-shadow: 1px 1px white;
}

h1 {
    font-size: 80px;
}

h2 {
    font-size: 60px;
    padding-bottom: 25px;
}

h3 {
    font-size: 40px;
    padding-bottom: 25px;
}

#wrapper {
    flex: 1;
    margin: 30px;
}

#web-badges {
    padding: 30px;
}

#web-badges img {
    padding: 0 5px;
}

#working-directory p {
    text-align: left;
    font-size: 0px;
    padding: 30px;
}

@media screen and (max-width: 600px) {
    #wrapper {
        margin: 15px;
    }
}

@media screen and (min-width: 900px) {
    #inner-wrapper {
        padding: 0 10%;
    }
}

@media screen and (min-width: 1100px) {
    #working-directory p {
        font-size: 50px;
    }
}

/* == Link Directories == */

.link-directory a, #profile-directory li {
    font-size: 45px;
}

.link-directory td {
    padding: 25px;
}

.link-directory li {
    padding: 15px;
}

.link-directory tr, .link-directory li {
    text-align: center;
}

.link-directory {
    display: table;
    margin: 0 auto;
    list-style: none;
}

@media screen and (max-width: 600px) {
  table.link-directory, .link-directory thead, .link-directory tbody, .link-directory th, .link-directory td, .link-directory tr {
    display: block; /* */
  }
}

/* == Common Components == */

.qoute q, .qoute p {
    text-align: center;
    display: block;
    font-size: 25px;
}

.qoute {
    padding: 10px 0;
}

.qoute p::before {
    content: '\2014'; /* add emdash to name*/
}

.name, .qoute p {
    font-size: 35px;
}

.title {
    font-size: 25px;
}

blink-182 {
  animation: blink-animation 500ms infinite;
  animation-timing-function: step-end;
}

blink-182[data-blink-time] {
    animation: blink-animation attr(data-blink-time ms) infinite;
    animation-timing-function: step-end;
}

@keyframes blink-animation {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }
}


/* == Profiles == */

#profile-directory a::before {
    content: '*\0009'; /* add asterisk to names with a profile  */
    font-size: 80px;
    line-height: 40px;
    vertical-align: middle;
    display: inline-block;
}

#student-profile {
    float: right;
}

.profile-picture, .highlight img {
    border: 5px solid steelblue;
    margin: 0 auto;
    display: block;
    margin-bottom: 15px;
}

#forum-signatures {
    padding: 20px 0;
}

/* ensures signatures stack vertically */
#forum-signatures img {
    display: block;
    margin: 0 auto;
}

@media screen and (max-width: 900px) {
    #student-profile {
        float: none;
    }
}

/* == Forms == */

form table {
    width: 400px;
    margin: 0 auto;
}

input[type='submit'] {
    display: block;
    margin: 20px auto;
}

label, input {
    display: inline-block;
    text-align: center;
}

textarea {
    display: block;
    margin: 0 auto;
    width: 400px;
    height: 200px;
}